@import './colors.scss';

.body {
  margin: 30px;
  max-height: 100%;

  .title {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .products_list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    .item {
      width: 500px;
      background-color: $box-color;
      padding: 10px;
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      img {
        width: 150px;
      }
    }
  }

  .row {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
  }

  button {
    margin-bottom: 15px;
    background-color: $main-color;
    color: $text-color;
    border: none;
    width: fit-content;
    height: fit-content;
    font-size: 14px;
    font-weight: bolder;
    padding: 5px 15px;
    border-radius: 5px;
  }
}